body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    display: flex;
}

.properties {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.properties label {
    display: block;
    margin-bottom: 5px;
}

.red-label {
    background-color: red;
    padding: 2px 5.5px;
    border-radius: 50px;
}
.green-label {
    background-color: rgb(0, 157, 0);
    padding: 2px 5.5px;
    border-radius: 50px;
}

.properties input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.properties .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.properties button:hover {
    background-color: #0056b3;
}

.tooltip {
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .properties {
        width: auto;
    }

    #map-container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 50px;
    }
}
